.table-costum{
    padding: 30px !important;
    border-radius: 8px !important;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.2) !important;
    background-color: white !important;
    
}

.table{
    border-collapse: separate !important;
}

.mini-wrapper{
    background-color: rgb(212,212,212);
}

.pneumonia{
    color: red !important;
   }
   
.normal{
   color:green  !important;
   }

   #example.dataTable thead th,
   #example.dataTable tbody td {
       text-align: left !important ; /* Penataan teks kiri */
   }

   :root {
    --dt-row-stripe: none !important; /* Menonaktifkan striping */
}

.confirmation-modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

.modal-content {
    text-align: center;
}

.button-costum{
    display: flex;
    justify-content: right;
}

.form-group label {
    text-align: start !important; /* Atur teks label ke pinggir */
  }